<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString_motorbike" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\motorbike.mdf;Initial Catalog=motorbike;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>